<mat-toolbar color="primary" class="app-toolbar" *ngIf="isLoggedIn">
  <span class="heading">Scheduler</span>
  <span class="tool-bar-spacer"></span>
  <button matIconButton (click)="newScheduler()"><mat-icon>add</mat-icon></button>
  <button matIconButton [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu" xPosition="before">
    <button mat-menu-item><mat-icon>badge</mat-icon> {{user?.name}}</button>
    <button mat-menu-item><mat-icon>mail</mat-icon> {{user?.email}}</button>
    <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> logout</button>
  </mat-menu>
</mat-toolbar>
<mat-toolbar color="primary" class="app-toolbar" *ngIf="!isLoggedIn">
  <span class="heading">Scheduler</span>
</mat-toolbar>
<router-outlet></router-outlet>